:root {
  --primary-color: #ede5e3;
  --secondary-color: #f9522c;
  --accent2-color: black;
  --accent-color: #222831;
}

bookcontainer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.book-logos {
  overflow: hidden;
  padding: 15px 0;
  background: #ede5e3;
  white-space: nowrap;
}

.book-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.book-slide img {
  height: 90px;
  margin: 0 40px;
}

.book-logos:hover .book-slide {
  animation-play-state: paused;
}

body {
  background-color: #ede5e3;
}

.container {
  background-color: #222831;
  margin: 30px auto;
  max-width: 650px;
  border-radius: 10px;
}

h1 {
  color: #ede5e3;
  font-family: "Rowdies", sans-serif;
  font-weight: 700;
  font-style: bold;
  text-align: center;
  line-height: 1.5;
  font-size: 40px;
  margin: 0;
  letter-spacing: 3px;
}

H2 {
  color: var(--accent2-color);
  font-family: "Rowdies", sans-serif;
  font-weight: 700;
  font-style: bold;
  text-align: center;
  font-size: 27px;
  margin: 0;
  letter-spacing: 2px;
}

p {
  color: #ede5e3;
  font-family: "Gruppo", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 14px;
  padding: 20px;
  letter-spacing: 2px;
}

.book {
  color: #f9522c;
}

.book-result {
  color: var(--accent2-color);
  background-color: whitesmoke;
  font-size: 17px;
  padding: 20px;
  line-height: 1.5;
  border-left: 3px solid var(--accent-color);
  font-family: "Gruppo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hidden {
  display: none;
}

form {
  display: flex;
}
.form-container {
  margin-right: 30px;
  margin-left: 30px;
  border-radius: 8px;
  padding: 10px;
}
.hint {
  color: var(--primary-color);
  font-size: 11px;
  margin-top: 5px;
  font-family: "Gruppo", sans-serif;
}
.prompt {
  padding: 16px;
  border: 1px solid;
  border-radius: 15px;
  width: 80%;
  line-height: 20px;
  font-size: 16px;
  font-family: "Gruppo", sans-serif;
  font-style: bold;
  letter-spacing: 2px;
  color: var(--secondary-color);
}

.submit-button {
  margin-left: 9px;
  background: white;
  border-radius: 15px;
  padding: 12px;
  border: none;
  font-size: 14px;
  font-family: "Gruppo", sans-serif;
  font-weight: 700;
  font-style: bold;
}

.AI {
  color: #440427;
}

.footerwords {
  color: var(--primary-color);
  font-family: "Gruppo", sans-serif;
  font-size: 11px;
  text-align: center;
  letter-spacing: 1px;
  color: paleturquoise;
}

.footerwords a {
  color: paleturquoise;
}
.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
