body {
  background-color: #ede5e3;
  font-family: "Poetsen One";
}

.container {
  background-color: #774181;
  margin: 120px auto;
  max-width: 800px;
  border-radius: 10px;
}
h1 {
  color: #ede5e3;
  font-family: "Poetsen One";
  text-align: center;
  line-height: 1.5;
  font-size: 34px;
  margin: 0;
  letter-spacing: 2px;
}

H2 {
  color: #ede5e3;
  font-family: "Poetsen One";
  text-align: center;
  font-size: 31px;
  margin: 0;
}

p {
  color: #f8da5b;
  font-family: "Poetsen One";
  text-align: center;
  font-size: 13px;
  padding: 20px;
  letter-spacing: 2px;
}

.book {
  color: #440427;
}

.book-result {
  color: #440427;
  background-color: whitesmoke;
  font-size: 14px;
  padding: 20px;
  line-height: 1.5;
  border-left: 3px solid #774181;
}

header {
}

form {
  border-radius: 8px;
  padding: 30px;
  display: flex;
}
.instructions {
  padding: 16px;
  border: 1px;
  width: 50%;
  line-height: 20px;
  font-size: 15px;
}
.AI {
  color: #440427;
}

.submit-button {
  border-radius: 8px;
}
